@page "/Search"
@model WebApplication1.Pages.Search

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <title>WebApplication1</title>
       <base href="~/"/>
       <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
       <link href="css/site.css" rel="stylesheet"/>
       <link href="WebApplication1.styles.css" rel="stylesheet"/>
</head>
<body>
<div>
    
</div>
</body>
</html>